extends layout

block content
  div.grid-Container-Short
    h1.centered-Title-Short QuickBites
    section.grid-Centered-Section
      a(href = '/users/login') Login
      a(href = '/users/register') Register
    footer.centered-Footer-Short
      p Ian Fabs/Matt Conway &copy 2018